<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Remember to be friendly and take behavioral notes.</h3>

    <p>You can deliver a demanding interview while being kind and empathetic — and when taking notes, note what the candidate says, rather than your impressions. This helps combat unconscious bias and will help you share the reasons for your conclusions and decisions.</p>

    <details>
      <summary><strong>See an example.</strong></summary>

      <p>Try to note what the candidate says, rather than your impressions — that will help you share behavioral reasons for your conclusions and decisions. That is, try to write down what the candidate said or did, rather than how you felt about it. For example:</p>

      <ul>
        <li>Good: “candidate ‘forced engineers to do \$X’” (captures what a candidate said)</li>
        <li>Bad: “candidate has an adversarial relationship with engineers” (interpretation of what they said above)</li>
        <li>Good: “candidate has maintained an \$X as an open source module for 2.5 years” (captures what a candidate did)</li>
        <li>Bad: “candidate is a good open source maintainer” (your feelings/interpretations of what they’ve done)</li>
      </ul>
    </details>
  </div>
</div>
