<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Take behavioral notes.</h3>

    <p>When taking notes, note what the candidate says, rather than your impressions. This helps combat unconscious bias and will help you share the reasons for your conclusions and decisions.</p>

    <details>
      <summary><strong>See an example.</strong></summary>

      <p>Try to note what the candidate says, rather than your impressions — that will help you share behavioral reasons for your conclusions and decisions. That is, try to write down what the candidate said or did, rather than how you felt about it. For example:</p>

      <table class="usa-table">
        <thead>
          <tr>
            <th scope="col">✅ Good</th>
            <th scope="col">❌ Bad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>“candidate ‘forced engineers to do \$X’” (captures what a candidate said)</td>
            <td>“candidate has an adversarial relationship with engineers” (interpretation of what they said)</td>
          </tr>
          <tr>
            <td>“candidate has maintained an \$X as an open source module for 2.5 years” (captures what a candidate did)</td>
            <td>“candidate is a good open source maintainer” (your feelings/interpretations of what they’ve done)</td>
          </tr>
        </tbody>
      </table>
    </details>
  </div>
</div>
