<div class="usa-alert usa-alert--warning">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Watch out for unconscious bias!</h3>

    <p>Remember that we all have unconscious bias, and that hiring is especially susceptible to bias. However, when we recognize and accept bias we can be on the lookout and it’ll be less likely to unconsciously guide our decisions.</p>

    <details>
      <summary><strong>Learn how.</strong></summary>

      <p>Research shows that the effect of unconscious bias can be profound. For example, <a href="https://www.nber.org/digest/sep03/w9873.html">in one study</a>, “applicants with white names needed to send about 10 resumes to get one callback; those with African-American names needed to send around 15 resumes to get one callback.”</p>

      <p>This bias prevents us from achieving the results we want, which is to select the best possible candidates regardless of background.</p>

      <p>Humans are not only biased, but we almost never realize that we’re being biased. However, when we realize and accept bias, and recognize it, we can be on the lookout for bias and it’ll be less likely to unconsciously guide our decisions.</p>

      <p>In that spirit, here are a few ways you can look out and correct for bias during the hiring process.</p>

      <ul>
        <li>
          <strong>Review these guidelines before every interview or round of resume review.</strong> Studies show that we’re less biased when we’re conscious of our own thinking, so continually reminding yourself to be aware will help.
        </li>

        <li>
          <strong>Remember that we’re especially susceptible to assume that underrepresented minorities — women, people of color, etc. — are less qualified than their white male counterparts.</strong> When considering candidates from underrepresented backgrounds, check your thinking about qualification. Ask yourself: am I reading this person’s qualifications the same as if they were white, male, etc?
        </li>

        <li>
          <strong>Continually re-check the guides and scoring rubrics to make sure you’re reviewing fairly.</strong> After a while, you’ll start to feel like you’ve memorized the guides and rubrics. This is good since it’ll help you be more efficient, but our memories are fickle things. The more you remind yourself of the concrete, established metrics, the less likely you’ll be to make “gut” decisions that could be colored by bias.
        </li>

        <li>
          <strong>Watch out for assessments of candidates that may be colored by age, gender, race, etc.</strong> For example, we tend to be more likely to use words like “aggressive” or “competitive” when describing men, vs “supportive”, “nurturing” when describing women. Are you surprised that an older person has cutting-edge technical skills? Ask yourself if an assessment might be colored by an applicant’s demography.
        </li>

        <li>
          <strong>Don’t check out the candidate on social media, or Google them.</strong> A person’s public profile almost certainly won’t have anything relevant to work, and might instead reveal all sorts of irrelevant information (age, gender, political affiliation, race, etc.). If the candidate application/resume links to a personal website, LinkedIn, or GitHub you can check those out — these are more work-focused, and we can assume a candidate has put what they want an employer to see there. If you use Chrome, <a href="https://chrome.google.com/webstore/detail/unbias-me/bghhadboobnoikppffdojcebigmcgmam?hl=en">the Unbias Me</a> extension (written by Fureigh) can help by removing avatars and names on some websites such as LinkedIn.
        </li>

        <li>
          <strong>If you come to a conclusion about a candidate very quickly, before you’ve read the whole resume or finished the interview, spend the rest of the session trying to disprove that conclusion.</strong> Snap judgments are much more likely to be prone to bias than considered ones. We tend to jump to conclusions and then look for evidence to support our hypothesis. To compensate, if you find you’ve reached a Yes/No conclusion very quickly, spend the rest of the session trying to <em>disprove</em> that hypothesis. Explicitly look for evidence that you’re wrong. If you’ve decided immediately that a candidate is not qualified, spend the rest of your time trying as hard as you can to find evidence that they <em>are</em> qualified.
        </li>
      </ul>
    </details>
  </div>
</div>
